@import './../../styles/litera.scss';

.date {
	text-decoration: none;
}

.current-date {
	background-color: $brand-primary;
	color: $white;
	border-radius: $border-radius;
	padding: $btn-padding-y $btn-padding-x;
}

.fa-chevron-left,
.fa-chevron-right {
  color: $brand-primary;
}

a {
  color: $gray;
}