@import './../../styles/litera.scss';

.margin-top {
  margin-top: 1em;
}

.card-title {
  margin-bottom: 0;
}

.table-logs {
  margin-bottom: 0;
}

.table-logs-container {
  max-height: 600px; 
  overflow: auto;
  border: 1px solid $gray-lighter;
  margin-bottom: 1em;
}

.loading {
  margin-left: .5em
}

.time {
  white-space: nowrap;
}

.chart-container {
  height: 600px;
}