<section class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card card-inverse card-success text-xs-center status-card">
        <div class="card-block">
          <h4 class="card-title d-flex align-items-center">
            <i class="fa fa-thermometer-half"></i>&nbsp;
            <span>Temperature</span>
            <span class="ml-auto">22&deg;C</span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card card-inverse card-danger text-xs-center status-card">
        <div class="card-block">
          <h4 class="card-title d-flex align-items-center">
            <i class="fa fa-tint"></i>&nbsp;
            <span>Soil Moisture</span>
            <span class="ml-auto">4/10</span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card card-inverse card-warning text-xs-center status-card">
        <div class="card-block">
          <h4 class="card-title d-flex align-items-center">
            <i class="fa fa-sun-o"></i>&nbsp;
            <span>Light Level</span>
            <span class="ml-auto">6/10</span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card card-inverse card-success text-xs-center status-card">
        <div class="card-block">
          <h4 class="card-title d-flex align-items-center">
            <i class="fa fa-tint"></i>&nbsp;
            <span>Humidity</span>
            <span class="ml-auto">34&deg;C</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid logs-section">
  <h2 id="logs">Logs</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 log-date-section">
      <app-datepicker></app-datepicker>
    </div>
    <div class="col-lg-3 col-md-6 push-xl-5 push-lg-5 log-date-section">
      <app-calendar></app-calendar>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">

      <div class="table-responsive table-logs-container">
        <table class="table table-sm table-logs">
          <thead>
            <tr>
              <th>
                <div ngbTooltip="Time"><i class="fa fa-clock-o"></i> <span class="hidden-xs-down">Time</span></div>
              </th>
              <th class="text-right">
                <div ngbTooltip="Temperature"><i class="fa fa-thermometer-half"></i> <span class="hidden-xs-down">Temperature</span></div>
              </th>
              <th class="text-right">
                <div ngbTooltip="Humidity"><i class="fa fa-tint"></i> <span class="hidden-xs-down">Humidity</span></div>
              </th>
              <th class="text-right">
                <div ngbTooltip="Light Level"><i class="fa fa-sun-o"></i> <span class="hidden-xs-down">Light Level</span></div>
              </th>
              <th class="text-right">
                <div ngbTooltip="Moisture"><i class="fa fa-tint"></i> <span class="hidden-xs-down">Moisture</span></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of logs | async">
              <td>{{log.date}}</td>
              <td class="text-right">{{log.temperature}}</td>
              <td class="text-right">{{log.humidity}}</td>
              <td class="text-right">{{log.light}}</td>
              <td class="text-right">{{log.moisture}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>