<section class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card card-inverse card-success text-xs-center status-card">
        <div class="card-block">
          <h4 class="card-title d-flex align-items-center">
            <i class="fa fa-thermometer-half"></i>&nbsp;
            <span>Temperature</span>
            <span class="ml-auto">22&deg;C</span></h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card card-inverse card-danger text-xs-center status-card">
        <div class="card-block">
          <h4 class="card-title d-flex align-items-center">
            <i class="fa fa-tint"></i>&nbsp;
            <span>Soil Moisture</span>
            <span class="ml-auto">4/10</span></h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card card-inverse card-warning text-xs-center status-card">
        <div class="card-block">
          <h4 class="card-title d-flex align-items-center">
            <i class="fa fa-sun-o"></i>&nbsp;
            <span>Light Level</span>
            <span class="ml-auto">6/10</span></h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card card-inverse card-success text-xs-center status-card">
        <div class="card-block">
          <h4 class="card-title d-flex align-items-center">
            <i class="fa fa-tint"></i>&nbsp;
            <span>Humidity</span>
            <span class="ml-auto">34&deg;C</span></h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid logs-section">
  <h2 id="logs">Logs</h2>
  <div class="row">
    <div class="col-xl-6 col-lg-9 col-sm-12 log-date-section">
      <app-datepicker></app-datepicker>
    </div>
    <div class="col-lg-3 push-xl-3 log-date-section">
      <app-calendar></app-calendar>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">

      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th class="text-right"><i class="fa fa-thermometer-half"></i> Temperature</th>
              <th class="text-right"><i class="fa fa-tint"></i> Moisture</th>
              <th class="text-right"><i class="fa fa-sun-o"></i> Light Level</th>
              <th class="text-right"><i class="fa fa-tint"></i> Humidity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jan 4, 2017</td>
              <td>7:00AM</td>
              <td class="text-right">45</td>
              <td class="text-right">4</td>
              <td class="text-right">6</td>
              <td class="text-right">54</td>
            </tr>
            <tr>
              <td>Jan 4, 2017</td>
              <td>8:00AM</td>
              <td class="text-right">45</td>
              <td class="text-right">4</td>
              <td class="text-right">6</td>
              <td class="text-right">54</td>
            </tr>
            <tr>
              <td>Jan 4, 2017</td>
              <td>8:00AM</td>
              <td class="text-right">45</td>
              <td class="text-right">4</td>
              <td class="text-right">6</td>
              <td class="text-right">54</td>
            </tr>
            <tr>
              <td>Jan 4, 2017</td>
              <td>8:00AM</td>
              <td class="text-right">45</td>
              <td class="text-right">4</td>
              <td class="text-right">6</td>
              <td class="text-right">54</td>
            </tr>
            <tr>
              <td>Jan 4, 2017</td>
              <td>8:00AM</td>
              <td class="text-right">45</td>
              <td class="text-right">4</td>
              <td class="text-right">6</td>
              <td class="text-right">54</td>
            </tr>
            <tr>
              <td>Jan 4, 2017</td>
              <td>8:00AM</td>
              <td class="text-right">45</td>
              <td class="text-right">4</td>
              <td class="text-right">6</td>
              <td class="text-right">54</td>
            </tr>
            <tr>
              <td>Jan 4, 2017</td>
              <td>8:00AM</td>
              <td class="text-right">45</td>
              <td class="text-right">4</td>
              <td class="text-right">6</td>
              <td class="text-right">54</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>